:root {
    font-size: 62.5%;
    --BgColor: #0D0D0D;
    --Black: #040326;
    --Dark-gray: #1f1f1f;
    --White: #FFFFFF;
    --Accent-one: #F27C38;
    --Accent-two: #9D8BFF;
    --BtnText: #B5BDFF;
}

.burgerMenu {
    display: none;
}
header {
    background-color: var(--Dark-gray);
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header p {
    font-size: 3rem;
}
header>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>div>div{
    display: flex;
    padding-right: 8rem;
    width: fit-content;
    flex-wrap: nowrap;
    gap: 2rem;
}
header>div>p {
    padding-left: 8rem;
}
label {
    font-size: 3rem;
}
main {
    display: flex;
}
nav {
    background-color: var(--Dark-gray);
    height: 98%;
    width: 30rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 0 0
}

footer {
    background-color: var(--Dark-gray);
    width: 100%;
    height: 15rem;
}
form {
    margin-top: 10rem;
    margin-left: 5rem;
    display: flex;
    align-self: baseline;
    flex-direction: column;
    gap: 2rem;
}

form>div>input{
    transform: scale(1.4);
    width: 4rem;
}


@media (max-width: 1200px){
    body p {
        font-size: 2rem;
    }
    label {
        font-size: 2rem;
    }
    form>div>input{
    transform: scale(1.3);
    width: 4rem;
    }

}

@media (max-width: 740px){
    body p {
        font-size: 1.5rem;
    }
    label {
        font-size: 1.5rem;
    }
    .actBtn{
        font-size: 1.5rem;
        width: 29rem;

    }
    nav {
        width: 100%;
        z-index: 2;
        position: fixed;
        height: 100%;
        top: 0;
        border-radius: 0;
        justify-content: center;
        display: none;
    }
    ul {
        padding: 0;
        margin-top: 15rem;
    }
    header>div>p{
        padding: 0 2rem 0 0;
    }
    header>div>div{
        padding: 0 2rem 0 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }
    header>div{
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        align-items: flex-end;
    }
    .burgerMenu{
        margin: 0 0 0 2rem;
        display: flex;
        width: 5rem;
        flex-direction: column;
        gap: 1rem;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0);
        border-style: noneq;
    }
    .burgerMenu>span{
        width: 100%;
        height: 0.4rem;
        background-color: var(--White);
        border-radius: 1rem;
    }
    .burgerMenu:hover{
        cursor: pointer;
    }
    .burgerMenu:hover span{
        background-color: var(--Accent-two);
        transition: .3s;
    }

    .burgerMenu:active span{
        background-color: var(--Accent-one);
        transition: .3s;
    }

}
